<h1 class="mt-4">
  Serviço Prestado
</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Novo</li>
</ol>
<div class="container">
  <form #form="ngForm" (submit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Serviço prestado salvo com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{erro}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Cliente: </label>
          <select class="form-control"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="servico.idCliente">
            <option value="">Selecione...</option>
            <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
              {{cliente.nome}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <input type="text" class="form-control"
                name="descricao" id="descricao"
                [(ngModel)]="servico.descricao">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="data">Data:</label>
          <input type="text" class="form-control"
                name="data" id="data"
                [(ngModel)]="servico.data">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="preco">Preço:</label>
          <input type="text" class="form-control"
                name="preco" id="preco"
                [(ngModel)]="servico.preco">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="button" routerLink="/servico-prestado/listagem"
                class="btn btn-outline-secondary m-1">
          <i class="fa fa-arrow-circle-left"></i> Voltar
        </button>

        <button class="btn btn-outline-primary" type="submit">
          <i class="fa fa-save"></i> Salvar
        </button>
      </div>
    </div>
  </form>
</div>
